@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap&subset=chinese-traditional);.bar[data-v-5442a5e4]{min-height:60px;flex:0 0 auto}.arrow[data-v-5442a5e4],.arrow[data-v-f6a1fcf6]{position:absolute;left:16px}